/* Estilo para index.html */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../images/el-recodo.png'); 
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
    color: white; 
    text-align: center;
}
/* Cambiar el color del texto a blanco */
body {
    color: white; /* Hace que todo el texto sea blanco */
}

h1, p, button {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mejor legibilidad */
}

button {
    background-color: white;
    color: black; /* Botón con texto negro */
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #ddd; /* Gris claro cuando se pasa el mouse */
}
