/* Estilo general */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #5a7d4b; /* Fondo verde */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la pantalla */
    text-align: center;
}

/* Contenedor principal */
.mapa-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espaciado entre elementos */
    background-color: #5a7d4b; /* Fondo verde */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 800px;
    margin: 0 auto; /* Centra el contenedor en la página */
}

/* Título y Simbología */
.mapa-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 90%; 
    max-width: 800px;
    margin-bottom: 20px; 
    font-size: 1.5em; 
    color: black; 
}

.mapa-header h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.mapa-header span {
    font-size: 1.5em;
    font-weight: normal;
}

.mapa-cuadro {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
}

.mapa-cuadro img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
}

/* Sección del código QR */
.qr-section {
    text-align: center;
    margin-top: 20px;
}

.qr-section img {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;
}

.qr-section img:hover {
    width: 150px; 
    height: auto;
    margin-bottom: 10px; 
}

.qr-section p {
    font-size: 1em; 
    color: black;
    text-align: center;
}
