/* Estilo general */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    color: white;
    text-align: center;
}

/* Contenedor del mirador */
.mirador-container {
    position: relative;
    width: 100%;
    max-width: 800px; 
    height: 90vh; 
    border-radius: 10px; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

/* Imagen del mirador */
.mirador-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}

/* Contenido del mirador */
.mirador-content {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 0 0 10px 10px; 
    z-index: 1; 
}

/* Título del mirador */
.mirador-title {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mirador-title i {
    font-size: 1.5em; 
}

/* Botón */
button {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}

button:hover {
    background-color: #ddd; 
}
